.FAQ_container{
    max-width: 750px;
    margin: auto;
}
.accordion_container{
    margin: 0 1rem;
    margin-top: 1rem
}
.accordion{
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-white) ;
}
.ans{
    background-color:var(--color-white);
    color:  var(--color-black);
    border: 2px solid var(--color-black) ;

}