:root{
  --color-primary: #34C94B;
  --color-black : #121212;
  --color-white: #FFFFFF;
}

*,*::before, *::after{
  box-sizing: border-box;
}

*{
   margin: 0;
}
html, body{
  height: 100%;
}
body{
  background-color: var(--color-black);
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  overflow-x: hidden;
}

.swiper-button-prev{
 background-image: url("../src/assets/prev.svg");
 background-repeat: no-repeat;
 background-size: contain;
 
}
.swiper-button-next{
  background-image: url("../src/assets/next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  
 }
 .swiper-button-prev:after, .swiper-button-next:after {
  display: none !important;
 }
 
