.navbar{
    background-color: var(--color-primary);
    height: 74px;
    display: flex;
    gap: 1rem;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px;
}
.forPhone{
    display: none;
}
.forDesktop{
  width: 400px;
}

@media(max-width: 750px){
    .forPhone{
        display: block;
        width: 100vw;
    }
    .forDesktop{
        display: none;
    }
}